* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, rgb(123, 211, 192), rgb(110, 223, 194));

}

form {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 500px;
}

legend {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  color: #011a32;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input[type="submit"] {
  background: rgb(66, 212, 163);
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background: linear-gradient(135deg, #0066cc, #06bac0);
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
  display: inline;

}

div label {
  margin-right: 15px;
  display: inline-block;
}
